---
# contact styles file
---

body.contact{
  .__background_container {
    background-image: url('/images/background-contact.svg');
    
  }
  .__main_body {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

