---
# main styles file
---

body.what {
  .__background_container {
    background-image: url('/images/background-what.svg');
  }
  .__main_body {
    padding-top: 0px;
  }
}

#__carousel_items_wrapper {
  margin: 0 auto;
  width: 1050px;
  height: 630px;
}

.__carousel_item {
  position: relative;
  height: 700px !important;
  .__laptop_img {
    position: absolute;
    top: 40px;  
    }    
  .__phone_img {
    position: absolute;
    top: 10px;
    right: 140px;
  }
  .__tablet_img {
    position: absolute;
    left: 130px;
    top: 80px;
  }
  .__gramophone_img {
    position: absolute;
    top: 240px;
  }
  .__gamepad_img {
    position: absolute;
    top: 440px;
    right: 20px;
  }
  .__notebook_img {
    position:absolute;
    top:30px;
    right:300px;  
    }
  .__glass_img {
    position: absolute;
    top:390px;
    right: 130px;  
    }
  .__envelope_img {
    position: absolute;
    top: 60px;
    right: 270px;
    }    
    .__props_img {
    position: absolute;
    right:770px;    
    }
    .__floppy_img {
    position: absolute;
    top: 320px;
    right: 190px;    
    }
    .__model_img {
    position: absolute;
    top: 460px;  
    right:650px;    
    }
    .__pencil_img {
    position: absolute;
    top:280px;
    right:280px;    
    }
    .__chalkboard_img {
    position: absolute;
    top: 40px;
    right: 0px;    
    }
    .__bomb_img {
    position: absolute;
    top: 270px;    
    right: 610px;
    }

}

.__phone_img {
  color: white;
  padding-top: 180px;
  font-family: Coves;
  font-size: 60px;
  text-align: center;
  width: 280px;
  height: 573px;
  background: url("/images/phone.svg") no-repeat;
}

.__tablet_img {
  font-family: Coves;
  color: white;
  padding: 120px 270px 0 130px;
  text-align: justify;
  font-size: 16px;
  line-height: 17px;
  width: 727px;
  height: 448px;
  background: url("/images/tablet.svg") no-repeat;
}

.__laptop_img {
  padding: 130px 300px;
  font-family: Coves;
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
  color: white;
  width: 1007px;
  height: 543px;
  background: url("/images/labtop.svg") no-repeat;
  .title {
    display: block;
    font-size: 70px;
    text-align: center;  
    line-height: normal;
    font-weight: normal;
    margin-bottom: 15px;
  }
}

.__notebook_img {
  padding: 120px 130px 0 70px;
  font-family: Coves;
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
  color: #264c44;
  width: 453px;
  height: 614px;
  background: url("/images/notebook.png") no-repeat;
    .title{
        display: block;
        font-size: 70px;
        text-align: center;
        line-height: 60px;
        margin-bottom: 70px;
    }
}

.__chalkboard_img {
    padding: 100px 240px;
    font-family: Coves;
    text-align: justify;
    font-size: 16px;
    line-height: 18px;
    color: white;
    weight: 0px;
    height: 577px;
    background: url("/images/chalkboard.png") no-repeat; 
    .title{
        display: block;
        font-size: 70px;
        text-align: center;
        line-height: 60px;
        margin-bottom: 30px;
    }
}