---
# main styles file
---

body.what {
  .__background_container{
    background-image: url('/images/background-what.svg');
  }
  .__main_body {
    padding-top: 0px;
  }
}

#__carousel_items_wrapper {
  margin: 0px auto;
  width: 1050px;
  height: 640px;
}

.slick-list {
  overflow-y: visible !important;
}

.__carousel_item {
  position: relative;
  height: 900px !important;
  /** first carousel **/
  $laptop-base: 40px;
  .__laptop_img {
    position: absolute;
    top: $laptop-base;
  }
  .__gramophone_img {
    position: absolute;
    top: $laptop-base + 200px;
  }
  /** second carousel **/
  $phone-base: 20px;
  .__tablet_img {
    position: absolute;
    left: 130px;
    top: $phone-base + 70px;
  }
  .__phone_img {
    position: absolute;
    top: $phone-base;
    right: 140px;
  }
  .__gamepad_img {
    position: absolute;
    top: 440px;
    right: $phone-base + 10px;
  }
  /** third carousel **/
  $notebook-base: 40px;
  .__props_img {
    position: absolute;
    top: $notebook-base - 40px;
    left: 100px;
  }
  .__notebook_img {
    position:absolute;
    top: $notebook-base;
    right:300px;  
  }
  .__glass_img {
    position: absolute;
    top: $notebook-base + 360px;
    right: 140px;  
  }
  .__envelope_img {
    position: absolute;
    top: $notebook-base + 30px;
    right: 270px;
  }
  .__floppy_img {
    position: absolute;
    top: $notebook-base + 290px;
    right: 190px;    
  }
  .__model_img {
    position: absolute;
    top: $notebook-base + 380px;
    left: 90px;
  }
  .__pencil_img {
    position: absolute;
    top: $notebook-base + 250px;
    right: 280px;
  }
  /** forth carousel **/
  $chalkboard-base: 20px;
  .__chalkboard_img {
    position: absolute;
    top: $chalkboard-base;
    left: 150px;    
  }
  .__bomb_img {
    position: absolute;
    top: $chalkboard-base + 320px;
    right: 630px;
  }
}

.__phone_img {
  color: white;
  padding-top: 180px;
  font-family: Coves;
  font-size: 60px;
  text-align: center;
  width: 280px;
  height: 573px;
  background: url("/images/phone.svg") no-repeat;
}

.__tablet_img {
  font-family: Coves;
  color: white;
  padding: 120px 270px 0 130px;
  text-align: justify;
  font-size: 16px;
  line-height: 17px;
  width: 727px;
  height: 448px;
  background: url("/images/tablet.svg") no-repeat;
}

.__laptop_img {
  padding: 130px 300px;
  font-family: Coves;
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
  color: white;
  width: 1007px;
  height: 543px;
  background: url("/images/labtop.svg") no-repeat;
  .title {
    display: block;
    font-size: 70px;
    text-align: center;  
    line-height: normal;
    font-weight: normal;
    margin-bottom: 15px;
  }
}

.__notebook_img {
  padding: 120px 130px 0 70px;
  font-family: Coves;
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
  color: #264c44;
  width: 453px;
  height: 614px;
  background: url("/images/notebook.png") no-repeat;
    .title{
        display: block;
        font-size: 70px;
        text-align: center;
        line-height: 60px;
        margin-bottom: 70px;
    }
}

.__chalkboard_img {
    padding: 130px 200px;
    margin-right: 130px;
    font-family: Coves;
    text-align: justify;
    font-size: 16px;
    line-height: 18px;
    color: #989595;
    height: 577px;
    background: url("/images/chalkboard.png") no-repeat; 
    .title{
        display: block;
        font-size: 70px;
        text-align: center;
        line-height: 60px;
        margin-bottom: 30px;
    }
}