---
# who styles file
---
@import "global.scss";

body.who{
  .__background_container {
    background-image: url('/images/background-who.svg');
  }
.__main_body {
    padding-top: 80px;
    padding-bottom: 0;
  }    
}

#who-body {
  font-family: 'Raleway';
  color: #4a4a4a;
  font-size: 30px;
  text-align: left;
  padding: 100px 150px;
  height: 800px;
}

#titlebar-img {
  position: absolute;
  top: -60px;
  right: 170px;
}

#profile-header {
  display: flex;
  align-items: flex-end;
  #profile-image {
    display: block;
    flex: 0 0 200px;
  }
  #profile-header-titles {
    flex: 1;
    padding-left: 70px;
  }
}

#profile-image {
  height: 200px;
}

#profile-header-titles {
  h1 {
    font-weight: $font-weight-light;
    font-size: 44px;
    letter-spacing: 0.4em;
    margin: -10px 0;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ef6261;
    margin: 5px 0;
  }
}

#profile-body {
  margin-top: 40px;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    text-align: justify;
    font-size: 24px;
    margin-bottom: 60px;
  }
  .button {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 200px;
    border: 3px solid black;
  }
}