---
# who styles file
---
@import "global.scss";

body.who{
  .__background_container {
    background-image: url('/images/background-who.svg');
  }
.__main_body {
    padding-top: 80px;
    padding-bottom: 0;
  }    
}

$who-contents-top-base: 40px;

#who-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway';
  color: #4a4a4a;
  font-size: 30px;
  text-align: left;
  padding: $who-contents-top-base 150px 0;
  height: 650px;
}

#titlebar-img {
  position: absolute;
  top: -60px;
  right: 100px;
}

.profile-header {
  .profile-image {
    display: block;
    flex: 0 0 200px;
  }
  div {
    text-align: center;
  }
}

.profile-image {
  height: 260px;
}

.profile-header-titles {
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 35px 0 0;
  }
  h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 14px 0 30px;
  }
}

.button {
  display: inline-block;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 200px;
  border: 2.1px solid #4a4a4a;
}