---
# main styles file
---

body.work{
  .__background_container {
    background-image: url('/images/background-work.svg');
    background-color: #9ec5dd;
  }
  .__main_body {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

#works-container {
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  width: 960px;
  background-color: white;
}

#works-titlebar {
  position: relative;
  height: 70px;
  border-radius: 20px 20px 0 0;
  background: #EDEDED; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#EDEDED, #E7E7E7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EDEDED, #E7E7E7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EDEDED, #E7E7E7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EDEDED, #E7E7E7); /* Standard syntax */
}

#corner-circles {
  position: absolute;
  left: 27px;
  top: 13px;
  width: 100px;
  height: 15px;
}

.small-circle {
  display: inline-block;
  border-radius: 3.5px;
  background-color: white;
  height: 7px;
  width: 7px;
  margin-right: 3px;
}

.small-circle.red {
  background-color: #ff6159;
}

.small-circle.orange {
  background-color: #ffbe2f;
}

.small-circle.green {
  background-color: #29cb42;
}

#tag-container {
  font-family: Avenir;
  font-size: 14px;
  text-align: center;
  list-style: none;
  padding-top: 23px;
  li {
    cursor: pointer;
    border-radius: 100px;
    display: inline-block;
    padding: 5px 18px;
    margin-left: 20px;
  }
  li:hover {
    background-color: #dcdcdc;
  }
  li.active {
    color: white;
    background-color: #73a5cd;
  }
}

#works-body > div {
  background-color: white;
  min-height: 500px;
  display: flex;
}

.single-work {
  display: block;
  cursor: pointer;
}

.single-work:not(:hover) {
  opacity: 0.4;
}

.works-body-column:first-child {
  margin-left: 0;
}

.works-body-column {
  margin-top: 5px;
  margin-left: 5px;
  flex-grow: 1;
  .single-work {
    margin-bottom: 5px;
  }
}

#controllers-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 10px 0;
  background: white;
  width: 80px;
  height: 160px;
  a {
    flex: 1 1;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.hidden {
  display: none !important;
}

.fullscreen-view {
  position: fixed;
  background-color: rgba(204, 201, 201, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}