---
# main styles file
---

<html class="no-js" lang="">
  <head>
    {% include website-head.html %}
  </head>
  <body class="home">
  <div id="layer-common-inner" class="inner-container">
    <div class="__background_container">
      <div class="__main_container">
        {% include site-headerbar.html %}
        <div class="__main_body">
              <div class="__mobile_container">
                  <img id="__mobile_img" src="/images/iphone.svg"/>
                  <div class="__mobile_screen">
                  </div>
              </div>
              <div id="__mobile_leftcontainer">
                <div id="__slogan">
                    Our work combines Design & Development
                </div>
                <div id="__viewprojects">
                  View Projects
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div id="layer-art-inner" class="inner-container">
    <div class="__background_container overlay">
      <div class="__main_container">
        <div class="__main_header"></div>
        <div class="__main_body">
          <div class="__mobile_container">
            <img class="__mobile_img" src="/images/iphone.svg"/>
            <div class="__mobile_screen">
              <div id="__pin">
                <img src="/images/eyedropper.svg"/>
              </div>
              <div id="__palette" class="hide-with-opacity">
                <img src="/images/palette.png"/>
              </div>
              <div id="__paint_bucket" class="hide-with-opacity">
                <img src="/images/paint-bucket.png"/>
              </div>
              <div class="__keyboard">
                <img src="/images/keyboard.svg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="layer-eng-outer" class="outer-container">
    <div id="layer-eng-inner" class="inner-container">
      <div class="__background_container overlay">
        <div class="__main_container">
          <div class="__main_header"></div>
          <div class="__main_body">
            <div class="__mobile_container">
              <img class="__mobile_img" src="/images/iphone.svg"/>
              <div class="__mobile_screen">
                <div id="__macintosh" class="hide-with-opacity">
                  <img src="/images/macintosh.png"/>
                </div>
                <div class="__keyboard">
                  <img src="/images/keyboard.svg"/>
                </div>
              </div>
            </div>
            <div id="__mobile_rightcontainer">
              <div id="__slogan2">
                Talk is cheap.<br/>
                Show me the code.<br/>
                Linus Torvalds<br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include site-livereload.html %}
</html>
