---
# main styles file
---

<html class="no-js" lang="">
  <head>
    {% include website-head.html %}
  </head>
  <body class="what">
  {% include all-pages-overlay.html %}
  <div class="__background_container">
    <div class="__main_container">
        {% include site-headerbar.html page="what" %}
        <div class="__main_body">
          <div id="__carousel_items_wrapper">
            <div class="__carousel_item">
              <div class="__laptop_img">
                <span class="title">Web Design</span>
                Much more than just pixel design, we ensure your site looks gorgeous and functions perfectly. What we prepare your business with includes Information Architecture, User Flow Mapping, Wireframing and Prototyping, Visual Design, Responsive Design and so forth.
              </div>
              <img class="__gramophone_img" src="/images/gramophone.png"/>
            </div>
            <div class="__carousel_item">
              <div class="__tablet_img">
                UX is a crucial part of all our projects, ensuring a natural flow that everyone can use and enjoy. In terms of Mobile Application Design When we are clear on how things are going to work we can produce wireframes.
                Wireframes are simply layouts of pages that show where things will be. They are not styled at this stage but exist to make a solid framework we can design within. When we ensure about the basic framework, we may create a fully working prototype
                Once this is all approved we can look at creating some Visual Concepts for you...
              </div>
              <div class="__phone_img">
                Mobile<br/>
                Design
              </div>
              <img class="__gamepad_img" src="/images/gamepad.png"/>
            </div>
            <div class="__carousel_item">
                <div>
                <img class="__envelope_img" src="/images/envelop.png"/>
                </div>
                <div class="__notebook_img">
                <span class="title">Brand<br/> Design</span>
                Our favourite! We can help with all aspect of Branding Strategy, Visual Identity and Assets, Type Design, Lettering, Marketing Materials, Brand Launch, Brand Guidelines and to name a few.
                </div>
                <img class="__model_img" src="images/model.png"/>   
                <img class="__props_img" src="images/props.png"/>
                <img class="__floppy_img" src="images/floppy.png"/>
                <img class="__glass_img" src="/images/glass.png"/>
                <img class="__pencil_img" src="/images/pencil.png"/>
            </div>
            <div class="__carousel_item">
                <div class="__chalkboard_img">
                <span class="title">Icon<br/> Design</span> 
                We're bored of free materials for UI Design, we devote time to design the Icon set which fits the bill for your brand strategy or Visual assets.  
                </div>
                <img class="__bomb_img" src="/images/bomb.png"/>
            </div>  
          </div>
        </div>
      </div>
  </div>
</body>
{% include site-livereload.html %}
</html>
