---
# main styles file
---

<html class="no-js" lang="">
  <head>
    {% include website-head.html %}
  </head>
  <body class="what">
  <div class="__background_container">
    <div class="__main_container">
        {% include site-headerbar.html %}
        <div class="__main_body">
          <div id="__carousel_items_wrapper">
            <div class="__carousel_item">
              <div class="__laptop_img">
                <span class="title">Web Design</span>
                Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites
              </div>
              <img class="__gramophone_img" src="/images/gramophone.png"/>
            </div>
            <div class="__carousel_item">
              <div class="__tablet_img">
                Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites. Here at motive, we design websites.
              </div>
              <div class="__phone_img">
                Mobile<br/>
                Design
              </div>
              <img class="__gamepad_img" src="/images/gamepad.png"/>
            </div>
            <div class="__carousel_item">
                <div>
                <img class="__envelope_img" src="/images/envelop.png"/>
                </div>
                <div class="__notebook_img">
                <span class="title">Brand<br/> Design</span>
                Here at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websites
                </div>
                <img class="__model_img" src="images/model.png"/>   
                <img class="__props_img" src="images/props.png"/>
                <img class="__floppy_img" src="images/floppy.png"/>
                <img class="__glass_img" src="/images/glass.png"/>
                <img class="__pencil_img" src="/images/pencil.png"/>
            </div>
            <div class="__carousel_item">
                <div class="__chalkboard_img">
                <span class="title">Icon<br/> Design</span> 
                Here at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design websitesHere at motive, we design motive, we design web   
                </div>
                <img class="__bomb_img" src="/images/bomb.png"/>
            </div>  
          </div>
        </div>
      </div>
  </div>
</body>
<script src="http://localhost:35729/livereload.js"></script>
</html>
