---
#main styles file
---

<html class="no-js" lang="">
    <head>
    {% include website-head.html %}
    </head>
    <body class="who">
    {% include all-pages-overlay.html %}
     <div class="__background_container">
      <div class="__main_container">
       {% include site-headerbar.html page="who" %}
        <div class="__main_body">
          <div id="macos-window-container">
            <div id="macos-window-titlebar">
              <img id="titlebar-img" src="/images/who-hat.png">
              <div id="corner-circles">
                <div class="small-circle red"></div>
                <div class="small-circle orange"></div>
                <div class="small-circle green"></div>
              </div>
              <ul id="tag-container">
              </ul>
            </div>
            <div id="who-body">
                <div id="profile-header">
                    <img id="profile-image" src="/images/who-sepideh.png">
                    <div id="profile-header-titles">
                        <h1>Sepideh</h1>
                        <h2>Sabour</h2>
                    </div>
                </div>
                <div id="profile-body">
                    <h1>Desiging UX/UI for the web & mobile apps</h1>
                    <p>
                        Hello, I’m Sepideh. I love being creative, exploring and broadening my horizons, doing things in high quality and giving stunning user experience in my products. I’m enthusiast of user interface and experience design.
                    </p>
                    <div>
                        <a class="button">
                            RESUME
                        </a>
                    </div>
                </div>
          </div>
        </div>
       </div>
      </div>
     </div>
    </body>
{% include site-livereload.html %}
</html>