---
#main styles file
---

<html class="no-js" lang="">
    <head>
    {% include website-head.html %}
    </head>
    <body class="who">
     <div class="__background_container">
      <div class="__main_container">
       {% include site-headerbar.html %}
        <div class="__main_body">
          <div id="works-container">
            <div id="works-titlebar">
              <div id="corner-circles">
                <div class="small-circle red"></div>
                <div class="small-circle orange"></div>
                <div class="small-circle green"></div>
              </div>
              <ul id="tag-container">
              </ul>
            </div>
            <div id="works-body">
            </div> 
          </div>
        </div>
         </div>
        </div>
    </body>
{% if site.livereload == true %}
  <script src="http://localhost:35729/livereload.js"></script>
{% endif %}
</html>