---
#main styles file
---

<html class="no-js" lang="">
    <head>
    {% include website-head.html %}
    </head>
    <body class="who">
    {% include all-pages-overlay.html %}
     <div class="__background_container">
      <div class="__main_container">
       {% include site-headerbar.html page="who" %}
        <div class="__main_body">
          <div id="macos-window-container">
            <div id="macos-window-titlebar">
              <img id="titlebar-img" src="/images/who-hat.png">
              <div id="corner-circles">
                <div class="small-circle red"></div>
                <div class="small-circle orange"></div>
                <div class="small-circle green"></div>
              </div>
              <ul id="tag-container">
              </ul>
            </div>
            <div id="who-body">
                <div class="profile-header" add-class-to-titlebar-img="on-sepideh">
                    <img class="profile-image" src="/images/who-sepideh.png">
                    <div class="profile-header-titles">
                        <h1>Sepideh Sabour</h1>
                        <h2>UI/UX Designer<br/>Illustrator</h2>
                    </div>
                    <div><a class="button" href="/files/resume-sepideh.pdf">RESUME</a></div>
                </div>
                <div class="profile-header" add-class-to-titlebar-img="on-nima">
                    <img class="profile-image" src="/images/who-nima.png">
                    <div class="profile-header-titles">
                        <h1>Nima Taheri</h1>
                        <h2>Software Architect<br/>Fullstack Developer</h2>
                    </div>
                    <div><a class="button" href="http://nimatrueway.github.io/">RESUME</a></div>
                </div>
          </div>
        </div>
       </div>
      </div>
     </div>
    </body>
{% include site-livereload.html %}
</html>