---
# main styles file
---

<html class="no-js" lang="">
  <head>
    {% include website-head.html %}
  </head>
  <body class="work">
  <div class="__background_container">
    <div class="__main_container">
        {% include site-headerbar.html %}
        <div class="__main_body">
          <div id="works-container">
            <div id="works-titlebar">
              <div id="corner-circles">
                <div class="small-circle red"></div>
                <div class="small-circle orange"></div>
                <div class="small-circle green"></div>
              </div>
              <ul id="tag-container">
                <li class="active">All</li>
                <li>Mobile</li>
                <li>Web</li>
                <li>Branding</li>
              </ul>
            </div>
            <div id="works-body">
              <div class="works-body-column">
                  <a href="projects/example1.html" >
                <div class="single-work" style="background: url('images/work/project-1.jpg'); height: 300px;">
                </div></a>
                <div class="single-work" style="background-color: #a17dcd; height: 200px">
                </div>
                <div class="single-work" style="background-color: #27CC34; height: 300px">
                </div>    
                <div class="single-work" style="background-color: #8B572A; height: 400px">
                </div>  
              </div>
              <div class="works-body-column">
                <div class="single-work" style="background-color: #55c6cd; height: 400px">
                </div>
                <div class="single-work" style="background-color: #F6A623; height: 300px">
                </div>  
                <div class="single-work" style="background-color: #F8D01C; height: 300px">
                </div>  
              </div>
              <div class="works-body-column">
                <div class="single-work" style="background-color: #cd7d43; height: 200px">
                </div>
                <div class="single-work" style="background-color: #cdc342; height: 500px">
                </div>
                <div class="single-work" style="background-color: #D0011B; height: 400px"> 
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
<script src="http://localhost:35729/livereload.js"></script>
</html>
