---
# main styles file
---

<html class="no-js" lang="">
  <head>
    {% include website-head.html %}
    <script src="js/react-15.5.4.min.js"></script>
    <script src="js/react-dom-15.5.4.min.js"></script>
    <script lang="javascript">
      var works = [
        [ // FIRST COLUMN
          {
            thumbnailHeight: 300,
            thumbnail: 'images/work/work000-thumb.jpg',
            picture: 'images/work/work000.jpg'
          },
          {
            thumbnailHeight: 200,
            thumbnailColor: '#a17dcd'
          },
          {
            thumbnailHeight: 300,
            thumbnailColor: '#27CC34'
          },
          {
            thumbnailHeight: 400,
            thumbnailColor: '#8B572A'
          }
        ],
        [ // SECOND COLUMN
          {
            thumbnailHeight: 400,
            thumbnailColor: '#55c6cd'
          },
          {
            thumbnailHeight: 300,
            thumbnailColor: '#F6A623'
          },
          {
            thumbnailHeight: 300,
            thumbnailColor: '#F8D01C'
          }
        ],
        [ // THIRD COLUMN
          {
            thumbnailHeight: 200,
            thumbnailColor: '#cd7d43'
          },
          {
            thumbnailHeight: 500,
            thumbnailColor: '#cdc342'
          },
          {
            thumbnailHeight: 400,
            thumbnailColor: '#D0011B'
          }
        ]
      ]
    </script>
  </head>
  <body class="work">
  <div class="__background_container">
    <div class="__main_container">
        {% include site-headerbar.html %}
        <div class="__main_body">
          <div id="works-container">
            <div id="works-titlebar">
              <div id="corner-circles">
                <div class="small-circle red"></div>
                <div class="small-circle orange"></div>
                <div class="small-circle green"></div>
              </div>
              <ul id="tag-container">
                <li class="active">All</li>
                <li>Mobile</li>
                <li>Web</li>
                <li>Branding</li>
              </ul>
            </div>
            <div id="works-body">
              <!--REACT FILLED AREA-->
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="fullscreen-view hidden" id="works-scroller">
    <!--REACT FILLED AREA-->
  </div>
  <script src="js/works.js"></script>
</body>
{% include site-livereload.html %}
</html>
