<div class="__main_header">
  <div id="__logo_container" class="__main_header_subheader">
    <span>Motive</span>
  </div>
  <div id="__navigator_container" class="__main_header_subheader">
    <ul id="__nav_bar">
      <li><a href="/">Home</a></li>
      <li><a href="/who.html" >Who</a></li>
      <li><a href="/what.html">What</a></li>
      <li><a href="/work.html">Work</a></li>
    </ul>
  </div>
  <div id="__right_header_container" class="__main_header_subheader">
    <ul id="__contact_bar">
      <li><a href="/contact.html" >Contact</a></li>
    </ul>
  </div>
</div>